* {
    margin: auto;
    padding: auto;
}

#post-bar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-collapse: collapse;
    margin-bottom: 50px;
}

#post-text {
    justify-content: center;
    width: 430px;
    height: 38px;
    border-radius: 25px 0px 0px 25px;
    border: 0 solid black;
}

#submit-button-post {
    justify-content: center;
    background-color: white;
    min-height: 38px;
    min-width: 60px;
    padding-right: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 0px 25px 25px 0px;
}

.post{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 60%;
    border-radius: 25px;
}

.post-info{
    /* display:flex; */
    flex-direction: column;
    /* border-style: solid;
    border-color: black; */
    width: 100%;
}

.username{
    /* display: flex;
    flex-direction: row; */
    align-items: flex-start;
    /* border-style: solid; */
    /* border-color: green; */
    /* margin-right: 80%; */
}

.like-comment-button-section{
    display:flex;
}

.comment-box{
    display: flex;
}
.comment-text {
    justify-content: center;
    width: 430px;
    height: 38px;
    border-radius: 25px 0px 0px 25px;
    border: 0 solid black;
}

.submit-comment-button{
    justify-content: center;
    background-color: white;
    min-height: 38px;
    min-width: 60px;
    padding-right: 4px;
    border: 0 solid black;
    border-radius: 0px 25px 25px 0px;
}