/* Full-width input fields */
input[type=text], input[type=psw] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color:white;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color:black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
#cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  min-width: 5%;
  border-radius: 50%;
  border: 3px solid white;
}

.container {  
  padding: 20px;
  color: white;
  text-align: center;
}

.psw{
  padding:20px;
}
.img{
  min-width: 5%;
  border-radius: 50%;
}

#email {
  margin-bottom:35px;
  max-width:50%;
}

#password {
  margin-bottom:35px;
  max-width:50%;
}

#load{
  max-width: 70%;
}



.modal {
  display: none; 
  position: relative; 
  z-index: 1; 
  left: 0;
  margin-top: 10px;
  width: 50%; 
  height: 70%; 
  overflow: auto; 
  padding-top: 30px;
  margin: auto;
}

/* Modal Content/Box */
#create-todo-form {
  background-color:black;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
  border: 3px solid gray;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: white ;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:white;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.password {
     display: block;
     float: none;
  }
  #cancelbtn {
     width: 100%;
  }
}

.alert{
  width:60px;
  height:60px;
  position: relative;
  color: white;
  background-color: white;
}

#nav-item{
  display: flex;
  justify-content: space-evenly;
 padding:20px;
}
.login{
  display:flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width:120px;
  height:120px;
  border-radius: 50%;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  transition: transform 250ms;
  background: #232323;
  color: #FFFFFF;
  background: #232323;
  }
  
  .login:hover {
    transform: translateY(-15px);
    background: green;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 55px black, 0 0 75px black;
    color: #FFFFFF;
    background: green;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 } 