.navbar {
  list-style-type: none;
}

.learn {
  padding-left: 20px;
  margin:15px
}

.modal {
    display: none; 
    position: relative;
    z-index: 3;
    padding-top: 200px; 
    right: 0;
    top: 0;
    width: 50%; 
    height: 80%; 
    overflow: auto; 
   
  }
  #intro{
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size:xx-large;
    margin: 40px;
    padding: 50px;
  }
  .img{
    max-width:30%;
    max-height:30%;
    border-radius: 50%;
    border:3px solid black;
  }
  /* Modal Content */
  .modal-content {
    background-color: white;
    color: black;
    margin: auto;
    padding: 30px;
    width: 80%;
    border: 5px solid black;
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color:  white;
    text-decoration: none;
    cursor: pointer;
  }

  #nav-item{
   padding:20px;
  }

  
  #create-todo-form {
    max-width: 100%;
  }

.formtype {
  padding-top:20px
}

#regbutton{
  margin-top:30px
}


