
#arrayOfWords{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,auto);
    /* border: 5px solid black; */
    margin-top: 100px;
    background-color: white #D5B87C;
    grid-gap: 70px;
    padding: 50px;
}
h3{
    background-color: white;
    max-width: 700px;
    margin: auto;
    text-align: center;
    height: 40px;

}
#canvas{
    border-radius:70%; 
}
